* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
}

.favButton:hover {
  background-color: rgb(18, 18, 154);
}

.no-favs {
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  padding: 2rem 0rem 4rem;
}

nav {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 10rem;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover {
  color: rgb(136, 136, 136);
}

input.input-error,
select.input-error {
  border-color: #fc8181;
}

button:disabled {
  opacity: 0.35;
}

.form-sent {
  font-size: 1.3rem;
  color: rgb(10, 117, 10);
  padding-top: 30px;
}

footer.dark {
  background-color: #000000d0;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer > div {
  display: flex;
  justify-content: center;
  padding: 50px 0px 10px;
}

footer > div > img {
  width: 200px;
  margin: 0;
}
footer > p {
  margin: 0;
  /* padding-top: 0.7rem; */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 300px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card .dark {
  background-color: #000;
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 60vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.card img {
  width: 100px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #949191;
}

nav.dark {
  background-color: #000000d0;
  color: white;
}
.dark {
  background-color: #252525d0;
  color: white;
}
.dark a {
  color: white;
}

nav button {
  margin-left: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
}

nav.light button {
  background-color: rgb(0, 0, 0);
}
.active {
  font-weight: bold;
}
.btn-top {
  width: 100%;
  text-align: center;
  background-color: red;
  margin: 0;
  position: absolute;
  top: 0;
  padding: 7px 0px;
  cursor: pointer;
}
